.favorites-container {
    border-radius: 30px;
    background: #E8E8E8;
    padding: 40px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    min-width: 335px;
    margin: 0;

}

.favorites-title {
    color: #1B1B1B;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.64px;
}

@media screen and (min-width: 768px) {
    .favorites-container {
        padding: 64px 48px;
    }

    .favorites-title {
        font-size: 44px;
        line-height: 48px;
        letter-spacing: -0.88px;
    }


}
.workout-card {
    border-radius: 15px;
    background: #FFF;
    padding: 16px;
    width: 100%;
    height: 100%;

}
.workout-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 25px;
}
.workout-header-wrapper {
    display: flex;
    align-items: center;

}
.workout-title {
    border-radius: 15px;
    background: #7E847F;
    display: inline-flex;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: #F6F6F6;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
        
}
.workout-trash-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
}
.workout-icon-trash {
    stroke: #1B1B1B;
    fill: #FFF;
    /* margin-right: 16px; */
}
.workout-rating {
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 2px;
    margin-left: 16px;
}
.workout-rating-icon {
    fill: #EEA10C;
}
.workout-start-button {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 8px;
    

    font-family: "DM Sans";
    color: #1B1B1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
        /* 128.571% */
}
.workout-icon-start {
    stroke: #1B1B1B;
}
.workout-name-wrapper {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}
.workout-icon-man {
    margin-right: 16px;
}
.workout-name {
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
        /* 100% */
}
.workout-inform-wrapper {
    display: flex;
    width: 263px;
    align-items: center;
    align-content: center;
    gap: 6px 16px;
    flex-wrap: wrap;
}
.workout-calories, .workout-body-part, .workout-target {
    color: rgba(27, 27, 27, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.number-calories, .body-part, .target {
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.is-hidden {
    display: none;
}
.favorites-not-found {
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 0 auto;
    
        
}

.favorites-not-found-text {
    width: 247px;
    color: #1B1B1B;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
       
}
@media screen and (min-width: 768px) {
    .favorites-title {
        margin-bottom: 32px;
    }
    .favorites-container {
        gap: 0;
    }
    .workout-card-wrapper {
        display: flex;
        gap: 20px 14px;
        flex-wrap: wrap;
    }
    .workout-card {
        width: 313px;
        height: 165px;
    }
    .favorites-not-found-text {
        font-size: 18px;
        line-height: 24px;
        /* 133.333% */
        width: 554px;
    }
        
}

