.favorites-container {
    border-radius: 30px;
    background: #E8E8E8;
    padding: 40px 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 450px;
    position: relative;
    

}

.favorites-title {
    color: #1B1B1B;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.64px;
    
}
.workout-card {
    border-radius: 15px;
    background: #FFF;
    padding: 16px;
    width: 295px;
    height: 100%;

}
.workout-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 25px;
}
.workout-header-wrapper {
    display: flex;
    align-items: center;

}
.workout-title {
    border-radius: 15px;
    background: #7E847F;
    display: inline-flex;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: #F6F6F6;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
        
}
.workout-trash-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
}
.workout-icon-trash {
    stroke: #1B1B1B;
    fill: #FFF;
}
.workout-rating {
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 2px;
    margin-left: 16px;
}
.workout-rating-icon {
    fill: #EEA10C;
}
.workout-start-button {
    background-color: transparent;
    border: none;
    display: flex;
    gap: 8px;
    

    font-family: "DM Sans";
    color: #1B1B1B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
        /* 128.571% */
}
.workout-icon-start {
    stroke: #1B1B1B;
}
.workout-name-wrapper {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
}
.workout-icon-man {
    margin-right: 16px;
    fill: #7E847F;
    /* stroke: #F6F6F6; */
    --custom-property: red;
        color: var(--custom-property);
}
.workout-name {
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
        /* 100% */
}
.workout-inform-wrapper {
    display: flex;
    width: 263px;
    align-items: center;
    align-content: center;
    gap: 6px 16px;
    flex-wrap: wrap;
}
.workout-calories, .workout-body-part, .workout-target {
    color: rgba(27, 27, 27, 0.40);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.number-calories, .body-part, .target {
    color: #1B1B1B;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
.favorites-not-found {
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 28px; 
    margin: 0 auto;
    position: absolute;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;  
    
       
}

.favorites-not-found-text {
    width: 247px;
    color: #1B1B1B;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
       
}

 .message-info {
     display: flex;
     flex-direction: column;
     border-radius: 30px;
     background: #E8E8E8;
    
 }

 .message-info-block {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 80px;
     gap: 28px;
 }

 .message-info-svg {
     width: 85px;
     height: 52px;
 }

 .message-info-text {
     width: 247px;
     height: 90px;
     color: #1B1B1B;
     text-align: center;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.28;
 }

@media screen and (min-width: 768px) {
    .favorites-container {
        padding: 64px 48px;
        min-height: 928px;
        gap: 0;
    }

    .favorites-title {
        font-size: 44px;
        line-height: 48px;
        letter-spacing: -0.88px;
        margin-bottom: 32px;
    }
    
    .workout-card-wrapper {
        display: flex;
        gap: 20px 14px;
        flex-wrap: wrap;
    }
    .workout-card {
        width: 313px;
        
    }
    .favorites-not-found-text {
        font-size: 18px;
        line-height: 24px;
        /* 133.333% */
        width: 554px;
        
    }

  .message-info {
      margin: 0 auto;
  }


  .message-info-svg {
      width: 115px;
      height: 71px;
  }

  .message-info-text {
      width: 554px;
      height: 72px;
      font-size: 18px;
      line-height: 1.33;
  }

}
@media screen and (min-width: 1440px) {
     .favorites-container {
        min-height: 687px;
    }
    .workout-card-wrapper {
        gap: 28px 20px;
    }
    .workout-card {
        width: 424px;
        
    }
    
        
}

