<section class="exercises container">
  <div class="exercises-content-container">
    <h1 class="exercises-title">
      Exercises<span class="exercises-title visually-hidden"></span>
    </h1>
    <div class="btn-wrapper">
      <button class="exercises-btn-filter" type="button">Muscles</button>
      <button class="exercises-btn-filter" type="button">Body parts</button>
      <button class="exercises-btn-filter" type="button">Equipment</button>
    </div>
    <ul class="exercises-list"></ul>
    <div class="exercises-pagination"></div>
  </div>
</section>
