<section class="exercises container">
  <div class="exercises-content-container">
    <h1 class="exercises-title">
      Exercises
      <span class="span visually-hidden"
        >/<span class="second-span"></span
      ></span>
    </h1>
    <div class="exercises-header">
      <div class="btn-wrapper">
        <button class="exercises-btn-filter" type="button">Muscles</button>
        <button class="exercises-btn-filter" type="button">Body parts</button>
        <button class="exercises-btn-filter" type="button">Equipment</button>
      </div>

      <form class="exercises-form visually-hidden">
        <input
          class="exercises-input"
          name="search"
          type="text"
          placeholder="Search"
          required
        />
        <button class="exercises-button" type="submit" data-start>
          <svg
            class="search-icon"
            width="18"
            height="18"
            aria-label="search icon"
          >
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="exercises-list workout-list"></ul>
    <div class="exercises-pagination"></div>
  </div>
</section>
