<section class="exercises container">
  <div class="exercises-content-container">
    <h1 class="exercises-title">
      Exercises <span class="exercises-title visually-hidden"></span>
    </h1>
<div class="search-and-button">
    <div class="btn-wrapper-details">
      <button class="exercises-btn-filter" type="button">Muscles</button>
      <button class="exercises-btn-filter" type="button">Body parts</button>
      <button class="exercises-btn-filter" type="button">Equipment</button>
      </div>
      <div class="search">
        <form class="exercises-form">
          <input
            class="exercises-input"
            name="search"
            type="text"
            placeholder="Search"
            required
          />
          <button class="exercises-button" type="submit" data-start>
            <svg
              class="search-icon"
              width="18"
              height="18"
              aria-label="search icon"
            >
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>
      
    </div>
  </div>

    <div class="workout-card-wrapper">
      <ul class="workout-list">
      <li class="workout-item">  
          <div class="workout-card">
              <div class="workout-header">
                    <div class="workout-header-wrapper">
                <p class="workout-title" id="workout-title">workout</p>
                <p class="workout-rating" id="workout-rating">4.0</p>
                <svg
                  class="workout-rating-icon"
                  id="workout-rating-icon"
                  width="18"
                  height="18"
                >
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
              </div>
              <button
                class="workout-start-button"
                id="workout-start-button"
                type="button"
              >
                Start
                <svg
                  class="workout-icon-start"
                  id="workout-icon-start"
                  width="14"
                  height="14"
                >
                  <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
            <div class="workout-name-wrapper">
              <svg
                class="workout-icon-man"
                id="workout-icon-man"
                width="24"
                height="24"
              >
                <use href="./images/icons.svg#icon-man"></use>
              </svg>
              <p class="workout-name" id="workout-name">
                cable standing back wrist curl
              </p>
            </div>
            <div class="workout-inform-wrapper">
              <p class="workout-calories" id="workout-calories">
                Burned calories:
                <span class="number-calories" id="number-calories"
                  >312&#160;&#8260;&#160;3&#160;min</span
                >
              </p>
              <p class="workout-body-part" id="workout-body-part">
                Body part: <span class="body-part" id="body-part">Waist</span>
              </p>
              <p class="workout-target" id="workout-target">
                Target: <span class="target" id="target">Abs</span>
              </p>
            </div>
          </div>
          </li>

          <li class="workout-item">
           <div class="workout-card"> 
            <div class="workout-header">
              <div class="workout-header-wrapper">
                <p class="workout-title" id="workout-title">workout</p>
                 <p class="workout-rating" id="workout-rating">4.0</p>
                <svg
                  class="workout-rating-icon"
                  id="workout-rating-icon"
                  width="18"
                  height="18"
                >
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
              </div>
              <button
                class="workout-start-button"
                id="workout-start-button"
                type="button"
              >
                Start
                <svg
                  class="workout-icon-start"
                  id="workout-icon-start"
                  width="14"
                  height="14"
                >
                  <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
            <div class="workout-name-wrapper">
              <svg
                class="workout-icon-man"
                id="workout-icon-man"
                width="24"
                height="24"
              >
                <use href="./images/icons.svg#icon-man"></use>
              </svg>
              <p class="workout-name" id="workout-name">Air bike</p>
            </div>
            <div class="workout-inform-wrapper">
              <p class="workout-calories" id="workout-calories">
                Burned calories:
                <span class="number-calories" id="number-calories"
                  >312&#160;&#8260;&#160;3&#160;min</span
                >
              </p>
              <p class="workout-body-part" id="workout-body-part">
                Body part: <span class="body-part" id="body-part">Waist</span>
              </p>
              <p class="workout-target" id="workout-target">
                Target: <span class="target" id="target">Abs</span>
              </p>
            </div>
          </div>  
          </li>

          <li class="workout-item">
           <div class="workout-card"> 
            <div class="workout-header">
              <div class="workout-header-wrapper">
                <p class="workout-title" id="workout-title">workout</p>
                <p class="workout-rating" id="workout-rating">4.0</p>
                <svg
                  class="workout-rating-icon"
                  id="workout-rating-icon"
                  width="18"
                  height="18"
                >
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
              </div>
              <button
                class="workout-start-button"
                id="workout-start-button"
                type="button"
              >
                Start
                <svg
                  class="workout-icon-start"
                  id="workout-icon-start"
                  width="14"
                  height="14"
                >
                  <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
            <div class="workout-name-wrapper">
              <svg
                class="workout-icon-man"
                id="workout-icon-man"
                width="24"
                height="24"
              >
                <use href="./images/icons.svg#icon-man"></use>
              </svg>
              <p class="workout-name" id="workout-name">
                dumbbell over bench wrist curl
              </p>
            </div>
            <div class="workout-inform-wrapper">
              <p class="workout-calories" id="workout-calories">
                Burned calories:
                <span class="number-calories" id="number-calories"
                  >312&#160;&#8260;&#160;3&#160;min</span
                >
              </p>
              <p class="workout-body-part" id="workout-body-part">
                Body part: <span class="body-part" id="body-part">Waist</span>
              </p>
              <p class="workout-target" id="workout-target">
                Target: <span class="target" id="target">Abs</span>
              </p>
              </div>
          </div>
              </li>
        </ul>
    </div>

    </div>

  </div>
</section>
