<!-- PAGE HEADER -->
<header class="header">
  <div class="container page-header-container">
    <nav class="navigation">
      <a class="logo" href="energy.flow"> </a>
      <div class="navigation-container-menu">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a href="./index.html" class="navigation-item-studio">Home</a>
          </li>
          <li class="navigation-item">
            <a href="./favorites.html" class="navigation-list-item">Favorites</a>
          </li>
        </ul>
      </div>
    </nav>
    <button class="open-mobile-menu-btn">
      <svg
        class="open-mobile-menu-btn-icon"
        width="24"
        height="24"
        aria-label="mobile menu open icon"
      >
        <use href="/src/images/icons-header/icon-burger.svg"></use>
      </svg>
    </button>
  </div>
  <div class="header-social-links">
    <ul class="header-links-list">
      <li class="header">
        <a class="header-link" href="https://www.facebook.com/goITclub/  ">
          <svg
            class="link-icon-header"
            width="28"
            height="28"
            aria-label="facebook"
          >
            <use href="/src/images/icons-header/icon-facebook.svg"></use>
          </svg>
        </a>
      </li>
      <li class="header-link-item">
        <a class="header-link" href="https://www.instagram.com/goitclub/ ">
          <svg
            class="link-icon-header"
            width="28"
            height="28"
            aria-label="instagram"
          >
            <use href="/src/images/icons-header/icon-instagram.svg"></use>
          </svg>
        </a>
      </li>
      <li class="header-link-item">
        <a class="header-link" href="https://www.youtube.com/c/GoIT">
          <svg
            class="link-icon-header"
            width="28"
            height="28"
            aria-label="youtube"
          >
            <use href="/src/images/icons-header/icon-youtube.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
