<section class="hero container">
    <div class="hero-container ">
      <div class="girl">
        <ul class="tags">
            <li class="tags-item">
                <p class="text"> #Sport </p>
            </li>
            <li class="tags-item">
                <p class="text"> #Healthy </p>
            </li>
            <li class="tags-item">
                <p class="text"> #Workout </p>
            </li>
            <li class="tags-item">
                <p class="text"> #Diet </p>
            </li>
        </ul>
    </div>
    <div class="hero-title-block">
        <div class="hero-title">
            <h1 class="hero-title-text"> Get <span class="hero-title-text-part">Body</span> in shape, Stay healthy </h1>
        </div>
        <div class="hero-motivation">
            <p class="hero-motivation-text"> Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support. </p>
        </div>
    </div>  
    </div>
</section>