<section class="container sport-image-section">
  <div class="sport-image">
  </div>
  <div class="norm-of-sports">
    <div class="icon-dumbbell-ellipse">
      <svg
        class="icon-dumbbell"
        width="20"
        height="20" 
        aria-label="mobile tablet modal dumbbell icon">
        <use href="./images/icons.svg#icon-dumbbell"></use>
      </svg>
    </div>
      <h2 class="article-title">110 min</h2>
      <h3 class="daily-norm">Daily  norm of sports</h3>
      <p class="daily-norm-text">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? </p>
  </div>
</section>