<section class="container sport-image-section">
  <div class="sport-image">
    <img srcset="../../images/img_motivation/Desctop_1.jpg   704w,
              ../../images/img_motivation/Desctop_@2x.jpg 1408w,
              ../../images/img_motivation/tablet_1.jpg    736w,
              ../../images/img_motivation/tablet@2x.jpg   1472w,
              ../../images/img_motivation/mobile_1.jpg    335w,
              ../../images/img_motivation/mobile_@2x.jpg  670w"
      sizes="(min-width: 1440px) 704px, (min-width: 768px) 736px, (max-width: 767px) 335px"
      src="../../images/img_motivation/mobile_1.jpg" class="foto-women-style" alt="Women's style" />
  </div>
  <div class="norm-of-sports">
    <svg class="icon-dumbbell" width="20" height="20" aria-label="mobile tablet modal dumbbell icon">
      <use href="../../images/icons.svg#icon-dumbbell"></use>
    </svg>
    <h2 class="article-title">110 min</h2>
    <h3 class="daily-norm">Daily norm of sports</h3>
    <p class="daily-norm-text">The World Health Organization recommends at least 150 minutes of moderate-intensity
      aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that
      number to 110 minutes every day? </p>
  </div>
</section>