<section class="container quot-block-section">
  <div class="quot">
      <div class="quot-box">   
        <div class="box-icon-man">   
        <svg class="quot-icon-man" width="34" height="32">
          <use href="./images/icons.svg#icon-man" aria-label="icon-man"></use>
        </svg>
      </div>  
  <h3 class="quot-title">Quote of the day</h3>
  <div class="box-icon-quotes">
  <svg class="quot-icon-quotes" width="28" height="28">
      <use href="./images/icons.svg#icon-quotes" aria-label="icon-man"></use>
    </svg>
  </div> 
  </div>
   
  <p class="quot-text">A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.
      </p>
      <p class="quot-author">Tom Brady</p>
  </div>
  <div class="box-quot-img">
    <img class="quot-img" 
    src="./images/quot/body.jpg" 
    alt="body"
    srcset="
      ./images/quot/body@2x.jpg           670w,
      ./images/quot/body-tablet.jpg       736w,
      ./images/quot/body-tablet@2x.jpg    1472w,
      ./images/quot/body-desctop.jpg      704w,
      ./images/quot/body-desctop@2x.jpg   1408w
    "
    sizes="
      (min-width: 1440px) 704px,
      (min-width: 768px) 736px,
      (max-width: 767px) 335px
    ">
  </div>
  </section>
  