<section class="favorites">
    <div class="container">
    <div class="favorites-container ">
        <h2 class="favorites-title">Favorites</h2>
            <ul class="favorites-list"></ul>

    <!----------- IF NOT FAVORITES EXERCISE -------------->
    <div class="message-info">
        <div class="message-info-block">
            <img class="message-info-svg" src="./images/favorites/dumbbell.jpg" alt="dumbbell" />
            <p class="message-info-text">
                It appears that you haven't added any
                exercises to your favorites yet. To get
                started, you can add exercises that
                you like to your favorites for easier
                access in the future.
            </p>
        </div>
    </div>

                    <!-- favorites workout card -->

        <!-- <div class="workout-card-wrapper">
            <div class="workout-card">
            <div class="workout-header">
                <div class="workout-header-wrapper">
                    <p class="workout-title" id="workout-title">workout</p>
                    <button class="workout-trash-btn" id="workout-trash-btn" type="button">
                        <svg class="workout-icon-trash" id="workout-icon-trash" width="16" height="16">
                            <use href="./images/icons.svg#icon-trash"></use>
                        </svg>
                    </button>
                    <p class="workout-rating" id="workout-rating">4.0</p>
                    <svg class="workout-rating-icon" id="workout-rating-icon" width="18" height="18">
                        <use href="./images/icons.svg#icon-star"></use>
                    </svg>
        
                </div>
                <button class="workout-start-button" id="workout-start-button" type="button">Start
                    <svg class="workout-icon-start" id="workout-icon-start" width="14" height="14">
                        <use href="./images/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="workout-name-wrapper">
                <svg class="workout-icon-man" id="workout-icon-man" width="24" height="24">
                    <use href="./images/icons.svg#icon-man"></use>
                </svg>
                <p class="workout-name" id="workout-name">Air bike</p>
            </div>
            <div class="workout-inform-wrapper">
                <p class="workout-calories" id="workout-calories">Burned calories: <span class="number-calories"
                        id="number-calories">312&#160;&#8260;&#160;3&#160;min</span></p>
                <p class="workout-body-part" id="workout-body-part">Body part: <span class="body-part"
                        id="body-part">Waist</span></p>
                <p class="workout-target" id="workout-target">Target: <span class="target" id="target">Abs</span></p>
            </div>
            </div>
        
        </div> -->
                <!-- favorites-not-found -->

        <!-- <div class="favorites-not-found">
                <img srcset="
                ./images/favorites/dumbbellmobile.jpg 85w,
                ./images/favorites/dumbbellmobile@2x.jpg 170w,
                ./images/favorites/dumbbell.jpg 116w,
                ./images/favorites/dumbbell@2x.jpg 231w" src="/src/images/favorites/dumbbellmobile.jpg"
                sizes="(min-width: 768px) 116px, (max-width: 767px) 85px" alt="dumbbell" />
            <p class="favorites-not-found-text">It appears that you haven't added any exercises to your favorites yet. To get
                started, you can add exercises that you
                like to your favorites for easier access in the future.</p>
        </div> -->
    </div>
    
</div>
</section>