<!-- BURGER MENU -->
<div class="mobile-backdrop hidden">
  <div class="mobile-menu">
    <div class="mobile-menu-header">
      <a class="logo mobile-logo" href="./index.html">energy.flow</a>
      <button class="mobile-menu-close-btn" type="button">
        <svg class="mobile-menu-close-icon" width="20" height="20" aria-label="mobile menu close icon">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul class="mobile-navigation-list">
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-button" href="./index.html" id="homeButton">Home</a>
        </li>
        <li class="mobile-navigation-item">
          <a class="mobile-navigation-button mobile-navigation-button-active" href="./favorites.html"
            id="favoritesButton">Favorites</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-header-social-links">
      <ul class="mobile-header-links-list">
        <li class="mobile-header-link-item">
          <a class="mobile-header-link" href="https://www.facebook.com/goITclub/">
            <svg class="mobile-link-icon-header" width="28" height="28" aria-label="facebook">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-header-link-item">
          <a class="mobile-header-link" href="https://www.instagram.com/goitclub/">
            <svg class="mobile-link-icon-header" width="28" height="28" aria-label="instagram">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-header-link-item">
          <a class="mobile-header-link" href="https://www.youtube.com/c/GoIT">
            <svg class="mobile-link-icon-header" width="28" height="28" aria-label="youtube">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>