<section class="quote" id="quote">
    <div class="container-quote-wrapper container">
        <div class="container-quote">
            <div class="box-icon-man">
                <svg class="quote-icon-man" width="18" height="20">
                    <use href="./images/icons.svg#icon-man" aria-label="icon-man"></use>
                </svg>
            </div>
            
            <div class="quote-wrapper">
                <h1 class="quote-title">Quote of the days</h1>
                <p class="quote-text">A lot of times I find that people who are blessed with the most talent don't ever
                    develop that
                    attitude, and the ones
                    who aren't blessed in that way are the most competitive and have the biggest heart</p>
                <h2 class="quote-author">Tom Brady</h2>
            </div>
            <svg class="quote-icon" width="28" height="28">
                <use href="./images/icons.svg#icon-quotes"></use>
            </svg>
        </div>
        <div class="quote-background-wrapper">
            <div class="quote-background-image"></div>
            <div class="inform">
                <div class="inform-wrapper">
                    <svg class="inform-icon-dumbbell" width="20" height="20">
                        <use href="./images/icons.svg#icon-dumbbell"></use>
                    </svg>
                    <h3 class="inform-label">110 min</h3>
                    <p class="inform-text">Daily norm of sports</p>
                </div>
            </div>
        </div>
    </div>
</section>