/* MOBILE */

@media screen and (max-width: 767px) {
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1158px) {
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .navigation-item {
    display: flex;
    text-decoration: none;
  }
  .navigation-container-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 211px;
    height: 52px;
    flex-shrink: 0;
  }
  .navigation-list {
    display: flex;
    padding: 6px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.header-link {
  fill: black;
}
