/* MOBILE */

@media screen and (max-width: 767px) {
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1158px) {
}

/* DESKTOP */

@media screen and (min-width: 1158px) {
  .navigation-item {
    display: flex;
    text-decoration: none;
  }
  .navigation-container-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 211px;
    height: 52px;
    flex-shrink: 0;
  }
  .navigation-list {
    display: flex;
    padding: 6px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #favoritesButton {
    display: flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
  }
  .header-social-links {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .header-links-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    color: #7e847f;
  }
  .header-link-item {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(126, 132, 127, 0.2);
  }
  .header-link {
    fill: #7e847f;
  }
  .open-mobile-menu-btn {
    display: none;
  }
}
